<h1 class="text-center mb-4">Event Gallery</h1>

<div class="row" id="gallerySection">
  <!-- Gallery images will be loaded dynamically here -->
</div>

<!-- Lightbox Modal -->
<div class="modal fade" id="lightboxModal" tabindex="-1" aria-labelledby="lightboxLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="" id="lightboxImage" class="img-fluid rounded" />
      </div>
    </div>
  </div>
</div>
