<h1 class="text-center mt-4">Volunteer Connect Statistics</h1>

<div class="container my-5">
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="card p-3">
        <h5>Monthly Visitors</h5>
        <p>Jan - 300, Feb - 400, Mar - 450, Apr - 600, May - 700, Jun - 800, Jul - 850, Aug - 870, Sep - 890, Oct - 1000, Nov - 1200, Dec - 1500</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card p-3">
        <h5>Donation Types</h5>
        <p>Monetary: $32,000<br>Material: $25,000<br>Time: $10,000</p>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="card p-3">
        <h5>Volunteer Types</h5>
        <p>Events: 40<br>Fundraisers: 25<br>Donations: 20<br>Volunteers: 15</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card p-3">
        <h5>Participants in Recent Events</h5>
        <p>Charity Run: 200<br>Food Drive: 150<br>Art Auction: 100<br>Book Sale: 80</p>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card p-3">
        <h5>Funds Raised</h5>
        <p>Charity Run: $15,000<br>Food Drive: $12,000<br>Art Auction: $10,000<br>Book Sale: $6,000</p>
      </div>
    </div>
  </div>
</div>
